.esp-all {
  position: fixed;
  width: 100%;
  background-color: transparentize(#808080b5, .2);
   position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin-right: 0;
  overflow-y: auto;
  transition: margin-right 0.3s;
  z-index: 101;
  
  /* this will make it go ontop of other content, 
  the index is the "layer" its on so make it as low as you can. */
  z-index: 99;
  animation: 0.2s ease-out 0s 1 fadeIn;
  animation-fill-mode: forwards;
}

.esp-side {
  position: fixed;
  width: 515px;
  height: 100%;
  background: #fff;
  box-shadow: -5px 0 5px 0 transparentize(#80808086, .2);

  animation: 0.2s ease-out 0s 1 slideIn;
  animation-fill-mode: forwards;

  display: flex;
  flex-direction: column;

  .esp-content {
    overflow: hidden;

    ::ng-deep .content {
      padding: 20px;
    }
  }

  .esp-100 {
    height: 100%;
  }

  .esp-margin {
    flex-shrink: 9999999999;
    height: 60px;
  }

  .esp-footer {
    display: flex;
    padding: 20px;
    border-top: 1px solid transparentize(gray, .2);

    &.esp-shadow {
      box-shadow: 0 -5px 5px transparentize(#323a43, .2);
    }
  }
}

@keyframes slideIn {
  from {
    right: -515px;
  }

  to {
    right: 0px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

